body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}
p, ul, ol, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
img {
  display: block;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
/* logo */
.logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.header-logo {
   padding: 24px 0;
   margin-right: 76px; 
}
/* header */
.header-logo .logo-part {
    color: #2e2f42;
}
.page-header {
border-bottom: 1px solid #e7e9fc;
}
.header-container {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}

/* nav */
.nav-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 24px 0;
display: block;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
padding: 24px 0;
display: block;
}

.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}
.contacts-list {
display: flex;
align-items: center;
gap: 40px;
}

/* hero */

.hero-banner {
background-image:  linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
url(../images/hero-baner.jpg);
padding: 188px 0;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
.hero-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
display: flex;
align-items: center;
margin: 0 auto;
max-width: 496px;
}
.hero-button {
background-color: #4D5AE5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;
margin-top: 48px;
display: block;
align-items: center;
margin-left: auto;
margin-right: auto;
padding: 16px 32px;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;

}
.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF
}

/* benefits */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.benefits {
padding: 120px 0;
}

.benefits-list {
    display: flex;
    align-items: center;
    gap: 24px;

}

.benefits-list-item {
width: calc((100%-72px)/4);
}

.benefits-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}
.benefits-list-item-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* team */
.team {
background-color: #F4F4FD;
padding: 120px 0;
}
.team-title {
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
 text-transform: capitalize;
 margin-bottom: 72px;
}
.team-list {
display: flex;
align-items: center;
gap: 24px;
}
.team-list-item {
background-color: #FFFFFF;
width: calc((100%-72px)/4);
border-radius: 0 0 4px 4px;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.4)
}
.team-content {
    padding: 32px 0;
}
.team-name-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px
}
.team-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

/* ourportfolio */

.ourportfolio {
padding: 120px 0;

}
.ourportfolio-title {
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
line-height: 1.11;
text-transform: capitalize;
margin-bottom: 72px;
}
.ourportfolio-list{
display: flex;
align-items: center;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;


}
.ourportfolio-list-item {
 width: calc((100% - 48px)/3)


}
.ourportfolio-list-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.ourportfolio-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none; 
}
.ourportfolio-list-item-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px


}
.ourportfolio-list-item-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* footer */
.page-footer {
 background-color: #2e2f42;
 padding: 100px 0;
}
.footer-logo {
display: inline-block;
margin-bottom: 16px; 
}
.footer-logo .logo-part {
color: #f4f4fd;
}
.footer-text {
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
width: 264px;
}
