/*
font-family: "Roboto", sans-serif;
font-family: "Relawey", sans-serif;
*/

:root {
  --irish: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --lightflover: #8e8f99;
  --cornflover: #e7e9fc;
  --cloud: #f4f4fd;
  --navybluemodal: #2e2f42;
  --gray: #2e2f42;
  --white: #ffffff;
}
body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: var(--white);
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;

}
.link {
  text-decoration: none;
}
.container { 
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px; 
  margin-left:  auto;
  margin-right: auto;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }
  .section{
    padding: 120px 0  ;
  }
.service{
  padding-top: 0;
}
  .header{
    border-bottom: 1px solid #e7e9fc;
  }
  .header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.logo {
 
  margin-right: 76px;
  padding: 24px 0;
  font-family: Raleway, sans-serif;
  color: var(--iris, #4d5ae5);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo-span {
  color: var(--navyblue);
}
.nav{
  display: flex;
  align-self: center;
  align-items: center; 
}
.naw-list{
  display: flex;
  align-self: center;
  gap: 40px;

}
.naw-item{
  display: block;
  padding: 24px 0;
  color: var(--navyblue);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.naw-item:hover,
.naw-item:focus{
  color:#404bbf;
}
.naw-item:hover
.naw-item:active{
  color:  #404bbf;
}
.adress {
  font-style: normal;
}
.adress-list{
  display: flex;
  gap: 40px;
}
.adress-item{
  display: block;
  padding: 24px 0;
  color: var(--slate);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.adress-item:hover,
.adress-item:focus {
  color: #404bbf;
}
.adress-item:active {
  color: #404bbf;
}

.filter{
  padding-top: 96px; padding-bottom: 120px; 
}
.filter-list{
  display: flex;
  justify-content: center; 
  gap: 24px;
  margin-bottom: 72px
}
.filter-button {
   padding: 12px 24px;
   border: 1px solid #e7e9fc;
    border-radius: 4px; 
  color: var(--irish);
  background-color: var(--cloud);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  text-align: center;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  border: 1px solid transparent;
  color: #fff;
  background: var(--ocean);
}
.container-galery{
  padding: 32px 16px;
  border: 1px solid #e7e9fc; 
  border-top: none;
}
.galery-item {
   width: calc((100% - 48px) / 3);
  background: var(--white);
}

.galery-title {
  margin-bottom: 8px;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42 ;
}
.galery-list{
  display: flex;
  flex-wrap: wrap; 
  column-gap: 24px;
  row-gap: 48px;
}
.galery-text {
  color: var(--slate);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.hero{
  padding: 188px 0;

    background-color:#2e2f42;
}
.hero-title {
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  background: var(--navyblue);
  color: var(--white);
  font-family: Roboto, sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
}

.hero-button {
  display: block;
margin: 0 auto ;
min-width: 169px;
  border: none;
  border-radius:  4px;
  padding: 16px 32px;
  color: var(--white);
  background:var(--irish);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus{
background: var(--ocean);
}

.advantages-list{
   display: flex;
   gap: 24px;
}
.advantages-item{
  width: calc((100% - 72px)/4);
}
.advantages-title {
  margin-bottom: 8px;
  color: var(--navyblue);
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;

}
.advantages-text {
  color: var(--slate);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.service-name {
  margin-bottom: 72px;
  padding-bottom: 72px;
  color: var(--navyblue);
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.servise-list{
  display: flex;
   gap: 24px;
}
.service-item{
  width: calc((100% - 48px)/3);
}
.team{
    background-color:#F4F4FD;
}
.team-title {
  margin-bottom: 72px;
  color: var(--navyblue);
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize; 
}
.team-list{
  display: flex;
  gap: 24px;
}
.team-item{
  width: calc((100% - 72px)/4);
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px; 
}
.team-content{
  padding: 32px 0;
  text-align: center;
}
.team-subtitle {
  margin-bottom: 8px;
  color: var(--navyblue);
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.team-text {
  color: var(--slate);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.footer{
  padding: 100px 0px 100px;
background-color: var(--navyblue);
}
.footer-logo {
  display: inline-block;
margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  color: var(--iris, #4d5ae5);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-logo span {
  color:#f4f4fd;
}

.footer-text {

  width: 264px;
  color: var(--cloud);
  font-family:"Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  
}
